@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root
{
    --clr-blue: #4BC3F5;
    --clr-white: #fff;
    --clr-black: #181818;
    --clr-black05: #181818c0;
}

::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track
{
    background: var(--clr-white); 
}

::-webkit-scrollbar-thumb
{
    background: var(--clr-blue); 
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--clr-blue); 
}

::-moz-selection
{
    color: var(--clr-blue);
    background: var(--clr-white);
}

::selection
{
    color: var(--clr-blue);
    background: var(--clr-white);
}

html
{
    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
}

img,
picture,
video,
canvas,
svg
{
    display: block;
    max-width: 100%;
    user-select: none;
}

button
{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

.container
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    width: 100%;
    height: 100%;
    background-color: var(--clr-white);
    overflow-y: hidden;
}

.section
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    width: 100%;
    height: 100vh;
}

/* Header - start */

.header
{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--clr-blue);
    z-index: 888;
}

.header .header__logo
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    gap: 20px;
    text-decoration: none;
}

.header .header__logo img
{
    height: 40px;
    width: 40px;
}

.header .header__logo .title
{
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-white);
    text-align: center;
    text-decoration: none;
}

.header .header__desktop
{
    display: none;
}

.header .header__link
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: var(--clr-white);
    transition: 0.3s all ease-in-out;
}

.header .header__link.active
{
    font-weight: 600;
}

.header .header__mobile
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header .header__mobile .header__hamburger
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--clr-white);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

@media (min-width: 768px)
{

    .header
    {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        background-color: var(--clr-blue);
    }
    
    .header .header__logo
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        outline: none;
        gap: 20px;
        text-decoration: none;
    }
    
    .header .header__logo img
    {
        height: 40px;
        width: 40px;
    }

    .header .header__logo .title
    {
        font-size: 20px;
        font-weight: 400;
        color: var(--clr-white);
        text-align: center;
        text-decoration: none;
    }
    
    .header .header__desktop
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .header .header__mobile
    {
        display: none;
    }
    
    .header .header__link
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: var(--clr-white);
        transition: 0.3s all ease-in-out;
    }
    
    .header .header__link.active
    {
        font-weight: 600;
    }

}

.hamburger
{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-blue);
    z-index: 999;
    opacity: 1;
    transition: 0.3s all ease-in-out;
}

.hamburger.inactive
{
    left: +110%;
    right: +110%;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.hamburger .header__logo
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    gap: 20px;
    text-decoration: none;
}

.hamburger .header__logo img
{
    height: 40px;
    width: 40px;
}

.hamburger .header__logo .title
{
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-white);
    text-align: center;
    text-decoration: none;
}

.hamburger .side
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hamburger .side div
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hamburger .header__link
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: var(--clr-white);
    transition: 0.3s all ease-in-out;
}

.hamburger .header__link.active
{
    font-weight: 600;
}

.hamburger .header__hamburger_close
{
    font-size: 30px;
    color: var(--clr-white);
    cursor: pointer;
}

/* Header - end */

/* Home - start */

.home
{
    background-image: url("../videos/mov1.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-end;
}

.home .blur
{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(25,25,25,15);
    background: linear-gradient(0deg, rgba(25,25,25,0.8) 0%, rgba(0,212,255,0) 100%);
    z-index: 1;
}

.home .title
{
    font-size: 45px;
    font-weight: 600px;
    font-style: normal;
    color: var(--clr-white);
    z-index: 2;
}

.home .subtitle
{
    font-size: 18px;
    font-weight: 400px;
    font-style: normal;
    color: var(--clr-white);
    z-index: 2;
}

.btn
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--clr-white);
    background-color: var(--clr-blue);
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px var(--clr-blue);
    z-index: 2;
}

.btn i
{
    margin-left: 6px;
    transition: 0.3s all ease-in-out;
}

.btn:hover  i
{
    margin-left: 10px;
}

/* Home - end */

/* About - start */

.about
{
    background-image: url("../images/img1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about *
{
    z-index: 2;
}

.about .blur
{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(25,25,25,15);
    background: linear-gradient(0deg, rgba(25,25,25,0.8) 0%, rgba(0,212,255,0) 100%);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.about .title
{
    font-size: 36px;
    font-weight: 600;
    color: var(--clr-white);
    text-align: center;
}

.about .cart
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    gap: 20px;
}

.about .cart .side
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0.5;
    width: auto;
    height: 100%;
}

.about .cart .side .title
{
    font-size: 36px;
    font-weight: 600;
    color: var(--clr-blue);
    text-align: center;
}

.about img
{
    width: 50%;
}

@media (min-width: 1280px)
{

    .about
    {
        background-image: url("../images/img1.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .about *
    {
        z-index: 2;
    }
    
    .about .blur
    {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(25,25,25,15);
        background: linear-gradient(0deg, rgba(25,25,25,0.8) 0%, rgba(0,212,255,0) 100%);
        backdrop-filter: blur(5px);
        z-index: 1;
    }
    
    .about .title
    {
        font-size: 36px;
        font-weight: 600;
        color: var(--clr-white);
        text-align: center;
    }
    
    .about .cart
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        gap: 20px;
    }
    
    .about .cart .side
    {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 0.5;
        width: auto;
        height: auto;
        gap: 20px;
    }
    
    .about .cart .side .title
    {
        font-size: 36px;
        font-weight: 600;
        color: var(--clr-blue);
        text-align: center;
    }
    
    .about img
    {
        width: 100%;
    }

}

/* About - end */

/* Service - start */

.service
{
    background-image: url("https://www.oliveltours.com/wp-content/uploads/2021/11/1-11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: max-content;
}

.service *
{
    z-index: 2;
}

.service .blur
{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(25,25,25,15);
    background: linear-gradient(0deg, rgba(25,25,25,0.8) 0%, rgba(0,212,255,0) 100%);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.service .title
{
    font-size: 36px;
    font-weight: 600;
    color: var(--clr-white);
    text-align: center;
}

.service .list
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 40px;
}

.service .list .item
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-white);
    width: 80%;
    height: auto;
    border-radius: 2px;
    overflow: hidden;
}

.service .list .item .image
{
    width: 100%;
    height: auto;
}

.service .list .item .image img
{
    height: 100%;
}

.service .list .item .content
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 20px;
}

.service .list .item .content .title
{
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-blue);
    width: 100%;
    text-align: left;
}

.service .list .item .content .text
{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: var(--clr-black05);
}

.service .list .item .content .btn-2
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: var(--clr-blue);
    transition: 0.3s all ease-in-out;
}

.service .list .item .content .btn-2 i
{
    margin-left: 10px;
    transition: 0.3s all ease-in-out;
}

.service .list .item .content .btn-2:hover  i
{
    margin-left: 15px;
}

@media (min-width: 1280px)
{

    .service
    {
        background-image: url("https://www.oliveltours.com/wp-content/uploads/2021/11/1-11.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 100vh;
    }
    
    .service *
    {
        z-index: 2;
    }
    
    .service .blur
    {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(25,25,25,15);
        background: linear-gradient(0deg, rgba(25,25,25,0.8) 0%, rgba(0,212,255,0) 100%);
        backdrop-filter: blur(5px);
        z-index: 1;
    }
    
    .service .title
    {
        font-size: 36px;
        font-weight: 600;
        color: var(--clr-white);
        text-align: center;
    }
    
    .service .list
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        gap: 40px;
    }
    
    .service .list .item
    {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: var(--clr-white);
        width: 300px;
        height: auto;
        border-radius: 2px;
        overflow: hidden;
    }
    
    .service .list .item .image
    {
        width: 300px;
        height: 300px;
    }
    
    .service .list .item .image img
    {
        height: 100%;
    }
    
    .service .list .item .content
    {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 20px;
    }
    
    .service .list .item .content .title
    {
        font-size: 20px;
        font-weight: 500;
        color: var(--clr-blue);
        width: 100%;
        text-align: left;
    }
    
    .service .list .item .content .text
    {
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        color: var(--clr-black05);
    }
    
    .service .list .item .content .btn-2
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: auto;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: var(--clr-blue);
        transition: 0.3s all ease-in-out;
    }
    
    .service .list .item .content .btn-2 i
    {
        margin-left: 10px;
        transition: 0.3s all ease-in-out;
    }
    
    .service .list .item .content .btn-2:hover  i
    {
        margin-left: 15px;
    }

}

/* Service - end */

/* Contacts - start */

.contacts
{
    background-image: url("https://roliki-magazin.ru/wp-content/uploads/b/a/2/ba2ac5603a452f213129f7bd8bc832c4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.contacts *
{
    z-index: 2;
}

.contacts .blur
{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(25,25,25,15);
    background: linear-gradient(0deg, rgba(25,25,25,0.8) 0%, rgba(0,212,255,0) 100%);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.contacts .title
{
    font-size: 36px;
    font-weight: 600;
    color: var(--clr-white);
    text-align: center;
}

.contacts .cart
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    gap: 20px;
}

.contacts .cart .side
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0.5;
    gap: 40px;
    width: 100%;
}

.contacts .cart .side iframe
{
    width: 100%;
    height: 400px;
    border-radius: 2px;
}

.contacts .cart .side .title
{
    font-size: 24px;
    font-weight: 600;
    color: var(--clr-blue);
    text-align: center;
}

.contacts .cart .side form
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.contacts .cart .side .data
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    width: 100%;
    height: auto;
}

.contacts .cart .side .data label
{
    font-size: 18px;
    font-weight: 400;
    color: var(--clr-black);
    text-align: left;
    width: 100%;
}

.contacts .cart .side .data input
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    color: var(--clr-black);
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--clr-black);
    border-radius: 2px;
    outline: none;
    transition: 0.3s all ease-in-out;
}

.contacts .cart .side .data input:hover, .contacts .cart .side .data input:focus, .contacts .cart .side .data input:active
{
    border-color: var(--clr-blue);
}

.contacts .cart .side .action button
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    background-color: transparent;
    color: var(--clr-blue);
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--clr-blue);
    border-radius: 2px;
    outline: none;
    transition: 0.3s all ease-in-out;
}

.contacts .cart .side .action button:hover, .contacts .cart .side .action button:focus, .contacts .cart .side .action button:active
{
    background-color: var(--clr-blue);
    color: var(--clr-white);
}

@media (min-width: 1280px)
{

    .contacts
    {
        background-image: url("https://roliki-magazin.ru/wp-content/uploads/b/a/2/ba2ac5603a452f213129f7bd8bc832c4.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 100vh;
    }
    
    .contacts *
    {
        z-index: 2;
    }
    
    .contacts .blur
    {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(25,25,25,15);
        background: linear-gradient(0deg, rgba(25,25,25,0.8) 0%, rgba(0,212,255,0) 100%);
        backdrop-filter: blur(5px);
        z-index: 1;
    }
    
    .contacts .title
    {
        font-size: 36px;
        font-weight: 600;
        color: var(--clr-white);
        text-align: center;
    }
    
    .contacts .cart
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 2px;
        gap: 20px;
    }
    
    .contacts .cart .side
    {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex: 0.5;
        gap: 40px;
    }
    
    .contacts .cart .side iframe
    {
        width: 600px;
        height: 400px;
        border-radius: 2px;
    }
    
    .contacts .cart .side .title
    {
        font-size: 24px;
        font-weight: 600;
        color: var(--clr-blue);
        text-align: center;
    }
    
    .contacts .cart .side form
    {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
        gap: 15px;
    }
    
    .contacts .cart .side .data
    {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
        width: auto;
        height: auto;
    }
    
    .contacts .cart .side .data label
    {
        font-size: 18px;
        font-weight: 400;
        color: var(--clr-black);
        text-align: left;
    }
    
    .contacts .cart .side .data input
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 400;
        color: var(--clr-black);
        text-align: left;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid var(--clr-black);
        border-radius: 2px;
        outline: none;
        transition: 0.3s all ease-in-out;
    }
    
    .contacts .cart .side .data input:hover, .contacts .cart .side .data input:focus, .contacts .cart .side .data input:active
    {
        border-color: var(--clr-blue);
    }
    
    .contacts .cart .side .action button
    {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 400;
        background-color: transparent;
        color: var(--clr-blue);
        text-align: left;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid var(--clr-blue);
        border-radius: 2px;
        outline: none;
        transition: 0.3s all ease-in-out;
    }
    
    .contacts .cart .side .action button:hover, .contacts .cart .side .action button:focus, .contacts .cart .side .action button:active
    {
        background-color: var(--clr-blue);
        color: var(--clr-white);
    }

}

/* Contacts - end */